@page "/pricingcards"

<h3>PricingCards</h3>
 
<div class="d-flex justify-content-center flex-wrap gap-3 container">
    <div class="card p-2 bg-light col-md-3">
        <div class="card-body">
            <h3 class="fw-bold">Free</h3>
            For Freelancers
            <h2 class="fw-bold">$0</h2>
            <ul class="list-group list-group-flush list-unstyled">
                <li class="list-group-item bg-light border-0"><i class="fa fa-check"></i> Single User</li>
                <li class="list-group-item bg-light border-0"><i class="fa fa-check"></i> 10 Downloads Per Month</li>
                <li class="list-group-item bg-light border-0"><i class="fa fa-check"></i> Faster Files</li>
                <li class="list-group-item bg-light border-0"><i class="fa fa-check"></i> 25 Custom Packs</li>
            </ul>
            <div class="d-grid mt-4">
                <button class="btn btn-dark rounded-pill w-auto">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="card p-2 bg-dark text-light col-md-3">
        <div class="card-body">
            <h3 class="fw-bold">Free</h3>
            For Freelancers
            <h2 class="fw-bold">$0</h2>
            <ul class="list-group list-group-flush list-unstyled">
                <li class="list-group-item bg-dark text-light border-0"><i class="fa fa-check"></i> Single User</li>
                <li class="list-group-item bg-dark text-light border-0"><i class="fa fa-check"></i> 10 Downloads Per Month</li>
                <li class="list-group-item bg-dark text-light border-0"><i class="fa fa-check"></i> Faster Files</li>
                <li class="list-group-item bg-dark text-light border-0"><i class="fa fa-check"></i> 25 Custom Packs</li>
            </ul>
            <div class="d-grid mt-4">
                <button class="btn btn-light rounded-pill w-auto">Subscribe</button>
            </div>
        </div>
    </div>
</div>

@code {

}
