<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/Bootstrap.min.css" />
    <link rel="stylesheet" href="css/FontAwesome.min.css" />
    <link rel="stylesheet" href="css/EbookStyle.css" />
    <link rel="stylesheet" href="EbookWebsite.styles.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/app.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
